extends _layout
block content
  <section>
    <img src="http://placehold.it/140x140/27709b/ffffff" width="140" height="140" alt="太郎のアイコン">
    <h1>山田太郎</h1>
    <p>山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。山田太郎の紹介です。</p>
  </section>
