extends _layout
block content
    section
      img.icon(src="http://placehold.it/140x140/27709b/ffffff" width="140" height="140" alt="太郎のアイコン")
      h1 山田太郎
      p UI/UXデザイナー見習いです
      .works
        section
          img(src="http://placehold.it/400x260/27709b/ffffff" width="400" height="260" alt="勇者ゲーム")
          h1 勇者ゲーム
          p
            | 楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。
        section
          img(src="http://placehold.it/400x260/27709b/ffffff" width="400" height="260" alt="宝探しゲーム")
          h1 宝探しゲーム
          p
            | 楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。
        section
          img(src="http://placehold.it/400x260/27709b/ffffff" width="400" height="260" alt="神経衰弱")
          h1 神経衰弱
          p
            | 楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。楽しいアプリです。